.footer {
    align-items: center;
    background-color: var(--clr-primary-bg);
    box-sizing: border-box;
    display: flex;
    height: 75px;
    justify-content: space-between;
    padding: 0 15px;
    width: 100%;
}

.footer__description-text {
    color: var(--clr-body-text);
    font-size: 10px;
    text-align: left;
    width: 230px;
}

.footer__github-logo {
    font-size: 24px;
}