.App {
  display: grid;
  height: 100vh;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content 1fr min-content;
  text-align: center;
}

.App > .header {
  grid-column: 1 / 3;
  grid-row: 1;
}

.App > .side-panel {
  grid-column: 1 / 2;
  grid-row: 2;
}

.App > .footer {
  grid-column: 1 / 3;
  grid-row: 3;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
