@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
  /* colors */
  --clr-primary-bg: #1B2838;
  --clr-header-footer-bg: #171A21;
  --clr-body-text: #8F98A0;
  --clr-card-bg: #0D131B;
  --clr-card-highlight: #00BBFF;
  --clr-tag-bg: #4b4b4b;
  --clr-searchbox-bg: #2A3D5A;
  --clr-searchbox-disabled-bg: #1c283b;

  /* fonts */
  --ff-regular: 'Inter', sans-serif;
}

body {
  margin: 0;
  font-family: var(--ff-regular);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
