.header {
    align-items: center;
    background-color: var(--clr-header-footer-bg);
    box-sizing: border-box;
    display: flex;
    height: 75px;
    padding: 0 26px;
    position: relative;
    width: 100%;
}

.header a {
    width: 160px;
}

.logo {
    height: 15.75px;
    width: 158.25px;
}

@media screen and (min-width: 25em) {
    .logo {
        height: 21px; 
        width: 211px; 
    }
}