.layout {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 75px 1fr;
}

.sidebar {
  position: absolute;
  top: 75px;
}

@media screen and (min-width: 30em) {
  .layout {
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content 1fr min-content;
  }

  .header {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .sidebar {
    position: initial;
    grid-column: 1 / 2;
    grid-row: 2;
  }

  .footer {
    grid-column: 1 / 3;
    grid-row: 3;
  }
}