.sidebar {
    align-items: center;
    background-color: var(--clr-card-bg);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 24px;
    padding: 24px 15px 0;
    width: 100%;
}