.sidebar {
    align-items: center;
    background-color: var(--clr-card-bg);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 75px);
    gap: 24px;
    padding: 24px 15px 0;
    position: absolute;
    transition: .5s ease-in-out;
    width: 100%;
}

.sidebar--open {
    left: 0;
}

.sidebar--closed {
    left: -100%;
}
